body {
 background-image: url('hattoslotto_hatter.jpg');
 background-position: left top; 
 background-repeat: repeat-y; 
}
header{
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    background-color: green;
    text-align: center;
}

header img {
    float: right;
    margin: 10px 5px 5px 10px;
    
}

div#bemutat{
    text-align: center;
    background-color: aquamarine;
    padding: 10px;
    margin: 20px;
}
div#content{
    padding: 10px;
    margin: 20px;
    background-color: aquamarine;
}

footer{
    background-color: blueviolet;
    text-decoration-color: aliceblue;
    padding: 10px;
    margin: 20px;
}
